.ad {
	text-decoration: none;

	width: 96vw;
	height: 8vh;

	position: fixed;
	left: 0;
	bottom: 0;

	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;

	padding: 12px;
	margin: 8px;

	background: rgb(131, 58, 180);
	background: linear-gradient(60deg, rgba(131, 58, 180, 0.5) 0%, rgba(253, 29, 29, 0.6) 60%, rgba(252, 176, 69, 0.7) 100%);
}

.ad_container {
	width: 100%;

	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;
}

.text_container {
	width: 80%;
}
